.background    { background: rgb(43, 56, 86);
                 table-layout: fixed;
                 border-spacing: 0;   
             	   background-image: url("http://s17.postimg.org/vmwn24cjz/ezgif_4142013113.gif");}
.background td { padding: 0;          }
.lava          { background: rgb(200, 162, 200); }
.wall          { background: white;   }

.actor  { position: absolute;  }
.coin   { background-image: url("http://s29.postimg.org/4jwuuhnwj/food.png"); }
.player { background-image: url("http://s4.postimg.org/oia6aovo9/catplayer.png");}
.enemy  { background-image: url("http://s16.postimg.org/bsm7pjgy9/enemy.png");}
.hazard { background-image: url("http://s21.postimg.org/j4k7xiys3/spikes.png");}

.game {
  overflow: hidden;
  max-width: 900px;
  max-height: 750px;
  position: relative;
}

.lost .player {
  background-image: url("http://s11.postimg.org/9pkkd8whr/deadplayer.png");
  // it's supposed to be a tombstone
}
.won .player {
  box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}
